{
    "extends": [
        "eslint:recommended",
        "plugin:import/warnings",
        "plugin:import/errors"
    ],
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": [0, "double"],
        "import/no-unresolved": [2, {commonjs: true, amd: true}],
        "import/named": 2,
        "import/namespace": 2,
        "import/default": 2,
        "import/export": 2,
        "import/no-duplicates": 2
    },
    "plugins": [
        "import"
    ],
    "parser": "babel-eslint",
    "settings": {
        "ecmascript": 6,
        "jsx": true,
        "import/resolver": webpack
    },
    "globals": {
        "jQuery": true,
        "initial_context": true
    }
}
